.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}

.todos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

.todo {
    display: flex;
    width: 100%;
    column-gap: 6px;
    padding: 8px 0 8px 0;
    border-bottom: 1px solid #868686;
    justify-content: space-between;
}

.todo span {
    font-size: 16px;
}

.createBlock {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 32px;
    cursor: pointer;
}

.createBlock:hover {
    transition: 0.4s;
    color: #2f938a;
}

.createIcon {
    width: 28px;
    height: 28px;
}

.changeIconBlock {
    display: flex;
    column-gap: 8px;
}

.changeIcon {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.changeBlock {
    display: flex;
    column-gap: 12px;
    margin-bottom: 32px;
}

.changeBlock input {
    padding: 10px 15px;
}

.btnBlock {
    display: flex;
    column-gap: 4px;
}

.btnOk {
    padding: 10px 15px;
    border: none;
    background-color: #2f938a;
    color: #fafafa;
    cursor: pointer;
}

.btnCancel {
    padding: 10px 15px;
    border: 1px solid #000000;
    background-color: #fafafa;
    color: #000000;
    cursor: pointer;
}